html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    width: 100%;
}
.picture-frame {
    width:  80%;
    border: 2px solid cornflowerblue;
    height: 200px;
    display: flex; 
    align-items: center;
}
/* Scale the o,age up if the picture-frame is being hovered */
.picture-frame:hover img{ 
    transform: scale(1.10);
    opacity: 10;
}


.picture-frame img {
    max-width: 50%;
}
#one {
    justify-content: center;
    }

#two {
    justify-content: center;
}
#three {
    justify-content: center;
    max-height: 25%;
}

.pug-playground {
    border: 5px solid gold;
    display: flex;
    min-height: 300px;

    
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;
    padding: 0px;

    justify-content: flex-start; /*lineup on main axis*/
    align-items: center;


     /*lineup cross axis*/
     flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
    .body{
        background: red;
    }
    .picture-frame{
        width: 33%;
        margin-top: 20px;
        
    }
    .pug-playground{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
}
@media screen and (min-width: 600px) {
    body{
        background: blue;
    }

    .logo-text {
        font-size: 32px;
        text-align: center;
    }
}