html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    width: 100%;
}
.picture-frame {
    width:  80%;
    border: 2px solid cornflowerblue;
    height: 200px;
    display: flex; 
    align-items: center;
}
.picture-frame img {
    max-width: 50%;
}
#one {
    left: 10px;
    }

#two {
    left: 200px,
}
#three {
    left:100px;
}

.pug-playground {
    border: 5px solid gold;
    display: flex;
    min-height: 300px

    
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 0px;

    justify-content: flex-start; /*lineup on main axis*/
    align-items: center;


     /*lineup cross axis*/
     flex-wrap: wrap;
}

